@import './variables.scss';
@import './z-index.scss';
@import './animations.scss';
@import './components/terminal.scss';
@import './components/resize-handle.scss';
@import './components/code.scss';
@import './components/editor.scss';
@import './components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

:root {
  --app-height: 100vh;
}

#root {
  height: 100vh;
  height: var(--app-height);
  overflow: hidden;
}

/* Ensure the page is truly fixed and static */
.static-layout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

// Simple style for body when modal is open
body.modal-open {
  overflow: hidden;
}